microservicio-firmadocumentos/servicios/FirmaMasiva/src/wsdl/sistemas4.edomex.gob.mx/ceroPapel/webService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ceroPapel.dgsei.edomex.gob.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.ceroPapel.dgsei.edomex.gob.mx/" name="CeroPapelWs_Service">
<types>
<xsd:schema>
<xsd:import namespace="http://service.ceroPapel.dgsei.edomex.gob.mx/" schemaLocation="http://sistemas4.edomex.gob.mx:80/ceroPapel/webService?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://sistemas4.edomex.gob.mx:80/ceroPapel/webService?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="firmarSolicitud">
<part name="parameters" element="tns:firmarSolicitud"></part>
</message>
<message name="firmarSolicitudResponse">
<part name="parameters" element="tns:firmarSolicitudResponse"></part>
</message>
<message name="WSException">
<part name="fault" element="tns:WSException"></part>
</message>
<message name="reasignarSolicitud">
<part name="parameters" element="tns:reasignarSolicitud"></part>
</message>
<message name="reasignarSolicitudResponse">
<part name="parameters" element="tns:reasignarSolicitudResponse"></part>
</message>
<message name="obtenerDocumentoFirmado">
<part name="parameters" element="tns:obtenerDocumentoFirmado"></part>
</message>
<message name="obtenerDocumentoFirmadoResponse">
<part name="parameters" element="tns:obtenerDocumentoFirmadoResponse"></part>
</message>
<message name="nuevaSolicitud">
<part name="parameters" element="tns:nuevaSolicitud"></part>
</message>
<message name="nuevaSolicitudResponse">
<part name="parameters" element="tns:nuevaSolicitudResponse"></part>
</message>
<message name="obtenerEvidenciaImprimible">
<part name="parameters" element="tns:obtenerEvidenciaImprimible"></part>
</message>
<message name="obtenerEvidenciaImprimibleResponse">
<part name="parameters" element="tns:obtenerEvidenciaImprimibleResponse"></part>
</message>
<message name="existeSolicitudTerminada">
<part name="parameters" element="tns:existeSolicitudTerminada"></part>
</message>
<message name="existeSolicitudTerminadaResponse">
<part name="parameters" element="tns:existeSolicitudTerminadaResponse"></part>
</message>
<message name="obtenerEvidenciaXml">
<part name="parameters" element="tns:obtenerEvidenciaXml"></part>
</message>
<message name="obtenerEvidenciaXmlResponse">
<part name="parameters" element="tns:obtenerEvidenciaXmlResponse"></part>
</message>
<message name="nuevaSolicitudBatch">
<part name="parameters" element="tns:nuevaSolicitudBatch"></part>
</message>
<message name="nuevaSolicitudBatchResponse">
<part name="parameters" element="tns:nuevaSolicitudBatchResponse"></part>
</message>
<message name="nuevaSolicitudBatchSHA2">
<part name="parameters" element="tns:nuevaSolicitudBatchSHA2"></part>
</message>
<message name="nuevaSolicitudBatchSHA2Response">
<part name="parameters" element="tns:nuevaSolicitudBatchSHA2Response"></part>
</message>
<message name="UnsupportedEncodingException">
<part name="fault" element="tns:UnsupportedEncodingException"></part>
</message>
<message name="obtenerEvidenciaXmlSHA2">
<part name="parameters" element="tns:obtenerEvidenciaXmlSHA2"></part>
</message>
<message name="obtenerEvidenciaXmlSHA2Response">
<part name="parameters" element="tns:obtenerEvidenciaXmlSHA2Response"></part>
</message>
<message name="reenviarSolicitud">
<part name="parameters" element="tns:reenviarSolicitud"></part>
</message>
<message name="reenviarSolicitudResponse">
<part name="parameters" element="tns:reenviarSolicitudResponse"></part>
</message>
<message name="cancelaSolicitud">
<part name="parameters" element="tns:cancelaSolicitud"></part>
</message>
<message name="cancelaSolicitudResponse">
<part name="parameters" element="tns:cancelaSolicitudResponse"></part>
</message>
<message name="identificadorSolicitud">
<part name="parameters" element="tns:identificadorSolicitud"></part>
</message>
<message name="identificadorSolicitudResponse">
<part name="parameters" element="tns:identificadorSolicitudResponse"></part>
</message>
<message name="solicitudValidadorIdentificador">
<part name="parameters" element="tns:solicitudValidadorIdentificador"></part>
</message>
<message name="solicitudValidadorIdentificadorResponse">
<part name="parameters" element="tns:solicitudValidadorIdentificadorResponse"></part>
</message>
<message name="solicitudValidador">
<part name="parameters" element="tns:solicitudValidador"></part>
</message>
<message name="solicitudValidadorResponse">
<part name="parameters" element="tns:solicitudValidadorResponse"></part>
</message>
<message name="solicitudValidadorSistema">
<part name="parameters" element="tns:solicitudValidadorSistema"></part>
</message>
<message name="solicitudValidadorSistemaResponse">
<part name="parameters" element="tns:solicitudValidadorSistemaResponse"></part>
</message>
<message name="obtenerDocumentoOriginal">
<part name="parameters" element="tns:obtenerDocumentoOriginal"></part>
</message>
<message name="obtenerDocumentoOriginalResponse">
<part name="parameters" element="tns:obtenerDocumentoOriginalResponse"></part>
</message>
<message name="obtenerDocumentoFirmadoIdentificador">
<part name="parameters" element="tns:obtenerDocumentoFirmadoIdentificador"></part>
</message>
<message name="obtenerDocumentoFirmadoIdentificadorResponse">
<part name="parameters" element="tns:obtenerDocumentoFirmadoIdentificadorResponse"></part>
</message>
<message name="identificadorSolicitudHashDocumentoFirmado">
<part name="parameters" element="tns:identificadorSolicitudHashDocumentoFirmado"></part>
</message>
<message name="identificadorSolicitudHashDocumentoFirmadoResponse">
<part name="parameters" element="tns:identificadorSolicitudHashDocumentoFirmadoResponse"></part>
</message>
<portType name="CeroPapelWs">
<operation name="firmarSolicitud">
<input message="tns:firmarSolicitud"></input>
<output message="tns:firmarSolicitudResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="reasignarSolicitud">
<input message="tns:reasignarSolicitud"></input>
<output message="tns:reasignarSolicitudResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="obtenerDocumentoFirmado">
<input message="tns:obtenerDocumentoFirmado"></input>
<output message="tns:obtenerDocumentoFirmadoResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="nuevaSolicitud">
<input message="tns:nuevaSolicitud"></input>
<output message="tns:nuevaSolicitudResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="obtenerEvidenciaImprimible">
<input message="tns:obtenerEvidenciaImprimible"></input>
<output message="tns:obtenerEvidenciaImprimibleResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="existeSolicitudTerminada">
<input message="tns:existeSolicitudTerminada"></input>
<output message="tns:existeSolicitudTerminadaResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="obtenerEvidenciaXml">
<input message="tns:obtenerEvidenciaXml"></input>
<output message="tns:obtenerEvidenciaXmlResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="nuevaSolicitudBatch">
<input message="tns:nuevaSolicitudBatch"></input>
<output message="tns:nuevaSolicitudBatchResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="nuevaSolicitudBatchSHA2">
<input message="tns:nuevaSolicitudBatchSHA2"></input>
<output message="tns:nuevaSolicitudBatchSHA2Response"></output>
<fault message="tns:WSException" name="WSException"></fault>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException"></fault>
</operation>
<operation name="obtenerEvidenciaXmlSHA2">
<input message="tns:obtenerEvidenciaXmlSHA2"></input>
<output message="tns:obtenerEvidenciaXmlSHA2Response"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="reenviarSolicitud">
<input message="tns:reenviarSolicitud"></input>
<output message="tns:reenviarSolicitudResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="cancelaSolicitud">
<input message="tns:cancelaSolicitud"></input>
<output message="tns:cancelaSolicitudResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="identificadorSolicitud">
<input message="tns:identificadorSolicitud"></input>
<output message="tns:identificadorSolicitudResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="solicitudValidadorIdentificador">
<input message="tns:solicitudValidadorIdentificador"></input>
<output message="tns:solicitudValidadorIdentificadorResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="solicitudValidador">
<input message="tns:solicitudValidador"></input>
<output message="tns:solicitudValidadorResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="solicitudValidadorSistema">
<input message="tns:solicitudValidadorSistema"></input>
<output message="tns:solicitudValidadorSistemaResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="obtenerDocumentoOriginal">
<input message="tns:obtenerDocumentoOriginal"></input>
<output message="tns:obtenerDocumentoOriginalResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="obtenerDocumentoFirmadoIdentificador">
<input message="tns:obtenerDocumentoFirmadoIdentificador"></input>
<output message="tns:obtenerDocumentoFirmadoIdentificadorResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
<operation name="identificadorSolicitudHashDocumentoFirmado">
<input message="tns:identificadorSolicitudHashDocumentoFirmado"></input>
<output message="tns:identificadorSolicitudHashDocumentoFirmadoResponse"></output>
<fault message="tns:WSException" name="WSException"></fault>
</operation>
</portType>
<binding name="CeroPapelWsPortBinding" type="tns:CeroPapelWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="firmarSolicitud">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="reasignarSolicitud">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerDocumentoFirmado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="nuevaSolicitud">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerEvidenciaImprimible">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="existeSolicitudTerminada">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerEvidenciaXml">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="nuevaSolicitudBatch">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="nuevaSolicitudBatchSHA2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerEvidenciaXmlSHA2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="reenviarSolicitud">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="cancelaSolicitud">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="identificadorSolicitud">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="solicitudValidadorIdentificador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="solicitudValidador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="solicitudValidadorSistema">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerDocumentoOriginal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="obtenerDocumentoFirmadoIdentificador">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="identificadorSolicitudHashDocumentoFirmado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="CeroPapelWs_Service">
<port name="CeroPapelWsPort" binding="tns:CeroPapelWsPortBinding">
<soap:address location="http://sistemas4.edomex.gob.mx:80/ceroPapel/webService"></soap:address>
</port>
</service>
</definitions>